<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" >
    <label for="firsname">Enter firsname: </label>
    <input type="text" th:field="*{user.firstname}" id="firsname"/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{user.lastname}" id="lastname"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{user.age}" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{user.email}" id="email"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{user.password}" id="password"/>


    <br/>
    <input type="submit" value="Add"/>
    <br>
    <a th:href="@{/login}">login</a>
</form>
</body>
</html>